.form  {
    text-align: center;
    background: #f7e9e9;
    border-radius: 3rem;
    margin: 2rem;
    padding: 2rem 0 2rem 0;
}
.h2{
    font-size: 1rem;
    text-align: center;
    font-weight: bold!important;
}
.formLabel {
    display: block;
    font-size: 18px;
    margin-bottom: 1rem;
}

.formInput {
    border-radius: 3rem;
    padding: 0.5rem 3rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.formButton{
    background-color: #F76C6C;
    border-radius: 3rem;
    cursor: pointer;
    padding: 0.5rem 3rem;
    color: white;
    border: none;
    font-size: 1rem;
}